<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ehsan ashouri</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #0d1b2a; /* Dark blue background */
            color: #ffffff; /* White text color */
            margin: 0;
            padding: 0;
        }

        .container {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            background-color: #0d1b2a; /* Slightly lighter dark blue */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px; /* Rounded corners */
        }

        .blog-post {
            border-bottom: 1px solid #ddd;
            padding: 10px 0;
            text-align: center;
        }

        .blog-post:last-child {
            border-bottom: none;
        }

        h1 {
            text-align: center;
            margin-top: 20px;
            color: #e94560; /* Accent color for the title */
        }

        a {
            color: #0fbcf9; /* Light blue color for links */
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        p {
            color: #ffffff; /* White text color for paragraphs */
        }

        .about-me {
            text-align: center;
            margin: 20px 0;
        }

        .links {
            text-align: center;
            margin-bottom: 20px;
        }

        .links a {
            margin: 0 10px;
            color: #0fbcf9;
            text-decoration: none;
        }

        .links a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>ehsan ashouri</h1>

    <div class="links">
        <a href="https://github.com/redscaresu" target="_blank">GitHub</a>
        <a href="https://www.linkedin.com/in/ehsanauk" target="_blank">LinkedIn</a>
    </div>

    <div class="about-me">
        <p>I am a software engineer who loves writing Go and building scalable, efficient systems.</p>
        <p>My background is in systems administration, and I have been involved in successive waves of technology, including
        <p>virtualization, cloud computing, cloud-native architectures, and microservices.</p>
        <p>I have worked for a variety of startups and established companies, both big and small,<p>
        <p>contributing to innovative projects and solving complex technical challenges.</p>
        <p>My expertise includes designing and implementing distributed systems, optimizing performance,
        <p>and ensuring reliability in production environments.</p>
        <p>Beyond coding, I am passionate about mentoring junior developers, sharing knowledge, and fostering collaborative team environments.</p>
        <p>In my free time I am a keen grill master, beer sommelier and novice olympic weightlifter.</p>
    </div>

    <div class="container" id="blog-container">
        <h2 style="text-align: center; color: #e94560;">Blog Posts</h2>
        <!-- Blog posts will be displayed here -->
        {{ range .}}
            <div class="blog-post">
                <h2><a href="/blogpost?name={{urlquery .Name}}">{{.Title}}</a></h2>
                <p>{{.Content}}</p>
            </div>
        {{ end }}
    </div>
</body>
</html>