<!DOCTYPE html>
<html>
<head>
    <title>ashouri.tech</title>
</head>
<body>
    <h1>{{.Title}}</h1>

    <div class="container">
        <div class="blog-post" id="blog-post-container">
            <!-- Blog post content will be displayed here -->
            {{.Content}}
        </div>
    </div>
</body>
</html>
