<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ashouri.tech</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .blog-post {
            border-bottom: 1px solid #ddd;
            padding: 10px 0;
        }

        .blog-post:last-child {
            border-bottom: none;
        }

        h1 {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>ashouri.tech</h1>

    <div class="container" id="blog-container">
        <!-- Blog posts will be displayed here -->
        {{ range .}}
            <div class="blog-post">
                <a href="/blogpost?name={{urlquery .Title}}">{{.Title}}</a>
            </div>
        {{ end }}
    </div>
</body>
</html>